#asdf{
    font-size: xx-large;
}

input{
    width: 100%;
    height: 100%;
    background-color: lightyellow;
    border: 0px;
}
#sect{
    align-content: center;
    border: 1px solid black;
    margin: auto;
<<<<<<< HEAD
    width: 40vw;
    height: 50vw;
    padding: 5px;
    background-color: lightyellow;
=======
    width: 50vw;
    height: 60vh;

>>>>>>> c9398b2d782fceaca87169fe55646d30a39dec7f
    display: grid;
    grid-template-rows: 1fr 20px repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
}

.div{
    border: 0.8px solid red;
    border-radius: 20%;
    background-color: rgba(201, 204, 16, 0.3);
    transition-duration: 0.8s;
    
}
.div:hover{
    background-color: red;
}


#div1{
    grid-column: 1/-1;
    text-align: end;
    border: 0px;
}
#div2{
    margin-right: 5px;
    text-align: end;
    border: 0px;
    grid-column: 1/-1;
<<<<<<< HEAD
    background-color: lightyellow;
}
#div3{
    background-color: lightgreen;
}

/* .btn{
    font-size: 135px;
    border-radius: 50%;
    background-color: #4CAF50;

} */
=======
}
>>>>>>> c9398b2d782fceaca87169fe55646d30a39dec7f
