#asdf{
    font-size: xx-large;
}
body{
    background-color: blue;
}

#sect{
    align-content: center;
    border: 1px solid black;
    margin: auto;
    width: 70vw;
    height: 70vh;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}

.div{
    border: 1px solid black;
}


#div1{
    grid-column: 1/-1;
    
}
#div2{
    margin-right: 5px;
    align-items: flex-end;
    grid-column: 1/-1;
}